name: Markdownlint Action
on: push

permissions:
  contents: read

jobs:
  build:
    name: Markdownlint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Checking markdown files
      uses: nosborn/github-action-markdown-cli@508d6cefd8f0cc99eab5d2d4685b1d5f470042c1 # v3.5.0
      with:
        files: .
        config_file: ".markdownlint.json"
